/*	Edge Alerts v1.2, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	=================================================================================== */

/*	Table of Contents
//	==================================================
//		#Box Model Fix
//		#Default


/*	#Default
//	================================================== */

	.edge-alerts-overlay {
		display: none;
		width: 100%;
		min-width: 280px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999999;
	}

	.edge-alerts-overlay .edge-alerts-clear {
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		clear: both;
		visibility: hidden;
		content: " ";
	}

	.edge-alerts-overlay .edge-alerts-close {
		width: 40px;
		height: 40px;
		background: url('../imgs/edge-alerts-close.png') no-repeat center;
		opacity: .7;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.edge-alerts-overlay .edge-alerts-close:hover {
		opacity: 1;
		cursor: pointer;
	}

	.edge-alerts-overlay .edge-alerts-container {
		width: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
	}

	.edge-alerts-overlay .edge-alerts-popup-head {
		width: 100%;
		height: 40px;
		background: #0B8593;
		padding: 0 10px;
		color: #FFF;
		font-weight: bold;
		line-height: 40px;
	}

	.edge-alerts-overlay .edge-alerts-popup-body {
		width: 100%;
		background: #F4F4F4;
		padding: 20px;
		color: #666666;
		line-height: normal;
	}

	.edge-alerts-overlay .edge-alerts-popup-buttons {
		text-align: right;
	}

	.edge-alerts-overlay .edge-alerts-popup-buttons:after {
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
		clear: both;
		visibility: hidden;
		content: " ";
	}

	.edge-alerts-overlay button.edge-alerts-popup-cancel,
	.edge-alerts-overlay button.edge-alerts-popup-continue {
		display: inline-block;
		width: auto;
		min-width: 100px;
		height: 32px;
		margin: 20px 0 0 20px;
		border: 0 solid #09707b;
		border-bottom-width: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 0 10px;
		background: #0B8593;
		color: #FFFFFF;
		font-size: 0.9em;
		text-align: center;
		line-height: 30px;
	}

	.edge-alerts-overlay button.edge-alerts-popup-cancel:hover,
	.edge-alerts-overlay button.edge-alerts-popup-continue:hover {
		border-color: #0B8593;
		background: #0D9AAB;
	}

	.edge-alerts-overlay button.edge-alerts-popup-cancel:active,
	.edge-alerts-overlay button.edge-alerts-popup-continue:active {
		border-color: #09707b;
		background: #0B8593;
	}

	.edge-alerts-overlay .edge-alerts-error {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding: 20px;
		background: #1B1B1B;
		color: #FFF;
		text-align: center;
		text-shadow: 1px 1px 0 #000;
		line-height: normal;
		cursor: pointer;
	}

	@media only screen and (max-width: 520px) {
		.edge-alerts-overlay .edge-alerts-container {
			width: 90%;
			text-align: center;
		}

		.edge-alerts-overlay .edge-alerts-close {
			display: none;
		}

		.edge-alerts-overlay .edge-alerts-popup-buttons {
			text-align: center;
		}

		.edge-alerts-overlay button.edge-alerts-popup-cancel,
		.edge-alerts-overlay button.edge-alerts-popup-continue {
			width: 100%;
			margin-left: 0;
		}
	}